*{
    color: #4c4d5f;
    font-family: 'Roboto';
}

body, .App, html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.plans{
    margin-left: auto;
    width: 80%;
    display: flex;
    gap: 20px;
}

.plan-box{
    border: 1px solid #bdbfbe;
    border-radius: 5px;
    padding: 10px;
    height: 500px;
}

.plan-description{
    font-size: 15px;
}

.perks-list{
    height: 50%;
    list-style-type: "✔️";
}

.perks-list li{
    text-indent: 5px;
}

.start-free-button{
    background-color: #00b289;
    color: #fff;
    border: transparent;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(50%);
}